@import "tailwindcss";

@theme {
    --color-gold: #C19957;
    --color-gold-hover: #af8946;
    --color-gold-active: #ddc7a1;
    --color-dark: #131414;
    --color-dark-gray: #1D1F1F;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

  h1 { @apply text-6xl font-bold leading-tight; }
  h2 { @apply text-4xl font-semibold leading-snug; }
  h3 { @apply text-2xl font-semibold; }
  h4 { @apply text-xl font-medium; }
  p  { @apply text-base font-normal leading-relaxed; }


  body {
    background-color: var(--color-dark-gray);
  }